#
# Software Name: OUDS iOS
# SPDX-FileCopyrightText: Copyright (c) Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT license,
# the text of which is available at https://opensource.org/license/MIT/
# or see the "LICENSE" file for more details.
#
# Authors: See CONTRIBUTORS.txt
# Software description: A SwiftUI components library with code examples for Orange Unified Design System
#

# Classic
*~
.DS_Store
**/.DS_Store

# Produced by tool generating documentation, should be versionined in gh-pages branch
/.build/

# Produced by Brew
/Brewfile.lock.json

# Produced by CocoaPods
/DesignToolbox/Pods/

# Produced by Xcode
/DesignToolbox/DesignToolbox.xcodeproj/xcuserdata/
/DesignToolbox/DesignToolbox.xcworkspace/xcuserdata/
/DerivedData/

# Produced by Fastlane
/DesignToolbox/build/
/DesignToolbox/SwiftPolyglot/

# Produced by Swift Package Manager
/.swiftpm/xcode/xcshareddata/
/.swiftpm/xcode/xcuserdata/
/.swiftpm/xcode/package.xcworkspace/

# Produced by Fastlane
**/fastlane/*.env
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/**/*.png
**/fastlane/test_output

# Produced by .gitlab-ci.yml
/.cache/
