#
# Software Name: Orange Unified Design System
# SPDX-FileCopyrightText: Copyright (c) Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT license,
# the text of which is available at https://opensource.org/license/MIT/
# or see the "LICENSE" file for more details.
#
# Authors: See CONTRIBUTORS.txt
# Software description: A SwiftUI components library with code examples for Orange Design System
#

# About runners: https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners
# Runners details: https://github.com/actions/runner-images/tree/main/images/macos

name: gitleaks

# Rules for this GitHub Actions workflow
# - workflow can be triggered manually if needed (workflow_dispatch)
# - is for all branches except main as secrets leaks will be found and fixed earlier in the flow in previous branches
# - automatically triggered when pull request is opened and has new commits (synchronize)
# But beware, triggered on commit push, so do not be a push-machine-gun!

on:
  push:
    branches-ignore:
      - main      

  workflow_dispatch: 

  pull_request:
    types:
      - opened
      - synchronize 
    branches-ignore:
      - main      

jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7 # v2.3.9, https://github.com/gitleaks/gitleaks-action
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}
