#
# Software Name: Orange Unified Design System
# SPDX-FileCopyrightText: Copyright (c) Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT license,
# the text of which is available at https://opensource.org/license/MIT/
# or see the "LICENSE" file for more details.
#
# Authors: See CONTRIBUTORS.txt
# Software description: A SwiftUI components library with code examples for Orange Unified Design System
#

# About runners: https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners
# Runners details: https://github.com/actions/runner-images/tree/main/images/macos

name: Check localizables with SwiftPolyglot

# Rules for this GitHub Actions workflow
# - workflow can be triggered manually if needed (workflow_dispatch)
# - use "almost" frozen version of macOS
# - is for all branches except main because l10n checks are made earlier in the flow (in previous branches)
# - automatically triggered when pull request is opened and has new commits (synchronize)
# But beware, triggered on commit push, so do not be a push-machine-gun!

on:
  push:
    branches-ignore:
      - main  

  workflow_dispatch: 

  pull_request:
    types:
      - opened
      - synchronize   
    branches-ignore:
      - main    

permissions:
  contents: read

jobs:
  i18n:
    name: Check translations (Swift Polyglot)
    runs-on: macos-26
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Clone SwiftPolyglot
        run: git clone https://github.com/appdecostudio/SwiftPolyglot.git --branch=1.1.0 ../SwiftPolyglot

      - name: Validate translations
        run: |
          swift build --package-path ../SwiftPolyglot --configuration release
          swift run --package-path ../SwiftPolyglot swiftpolyglot en fr ar --error-on-missing

